.projectTitle {
    color: #e2e2e2;
    font-size: 50px;
    background-color: #5c3797;
    width: 50%;
    min-width: 200px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 5vh;
    margin-bottom: 3%;
    overflow: hidden;
}

.projectTypewriter .Typewriter {
    font-size: 45px;
}

.projectTypewriter .Typewriter .Typewriter__wrapper {
    text-decoration: underline;
    text-decoration-color: #5C3797;
}

.projectDesc {
    right: 20vw;
    width: 60vw;
    text-align: center;
}

ul li{
    display: inline;
    margin: 10px;
}

.projectDesc p {
    padding-left: 50px;
    font-size: 30px;
    line-height: 38px;
    text-align: left;
    word-break: break-word;
}

.projectDesc p h2 {
    text-decoration: underline;
    text-decoration-color: #5C3797;
}

.img1 {
    width: 60%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}