.fullPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.leftText {
  position: absolute;
  left: 15vw;
}

.rightText {
  display: inline;
  width: 40vw;
  right: 10vw;
}

#projectSection .rightText {
  display: inline;
  width: 45vw;
  right: 10vw;
}

.rightText li {
  margin: 1vh;
  width: 90%;
}

.rightText h1 {
  color: #e2e2e2;
  font-size: 4em;
  background-color: #5c3797;
  width: 50%;
  min-width: 200px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 3%;
  overflow: hidden;
}

.rightText h2 {
  margin-top: 0;
  margin-left: 15%;
  color: #e2e2e2;
  background-color: none;
  width: 70%;
  margin-bottom: 4%;
  overflow: hidden;
}

#projectSection .rightText h1 {
  margin-top: 0;
  margin-bottom: 0;
}

#projectSection .rightText h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.faceImg {
  height: 20vw;
  min-height: 200px;
  margin-left: 20vw;
  margin-right: 5vw;
  margin-bottom: 3vh;
  display: block;
  overflow: hidden;
}

.socialTag {
  margin-left: 1vw;
  position: absolute;
  left: 3vw;
  margin-top: 30px;
}

@media only screen and (max-width: 1400px) {
  .aboutText {
    right: 2vw;
    margin-right: 2vw;
  }
}

@media only screen and (max-width: 1150px) {
  #aboutSection {
    display: block;
  }
  #projectSection{
    display: block;
  }

  .leftText {
    position: inherit;
    margin-bottom: 30px;
    padding-top: 3vh;
  }

  .rightText {
    right: 5%;
    width: 90%;
  }

  .faceImg {
    margin: 0 auto;
    margin-top: 10vh;
  }

  .socialTag {
    left: 0;
    margin-top: 3vh;
  }

  .card{
    margin-top: 1vw !important;
    margin-bottom: 1vw !important;
  }
}

@media only screen and (max-width: 650px) {
  #projectSection .rightText {
    width: 80vw;
  }
  .card{
    margin: 1vw !important;
  }
}

@media only screen and (max-width: 300px) {
  .rightText {
    width: 98%;
    right: 2%;
    min-width: 210px;
  }
  .rightText h1 {
    width: 90%;
  }
  .rightText h2 {
    width: 90%;
    margin-left: 5%;
  }
}