#educationSection {
  position: relative;
}
#educationSection h1 {
  box-shadow: 2px 2px 5px rgb(85, 85, 85);
  color: rgb(226, 226, 226);
  font-size: 4em;
  background-color: #533a7b;
  width: 50%;
  margin: 10vh auto 5vh;
  min-width: 260px;
  overflow: hidden;
  display: block;
}
.timeline {
  margin: auto;
  color: white !important;
  width: 60vw;
}


@media only screen and (max-width: 900px) {
  #educationSection h1 {
      width: 60vw;
  }
}
@media only screen and (max-width: 800px) {
  .timeline {
    width: 100vw;
  }
}
@media only screen and (max-width: 500px) {
  #educationSection h1 {
      width: 90vw;
  }
}
@media only screen and (max-width: 290px) {
#educationSection h1 {
    width: 98vw;
}
}
