#projectsSection h1 {
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
    color: #e2e2e2;
    font-size: 4em;
    background-color: #533a7b;
    width: 50%;
    margin: 10vh auto auto;
    min-width: 200px;
    display: block;
    overflow: hidden;
}

.catBalloon {
    width: 450px;
    height: auto;
}

.projects {
    display: block;
    right: 10vw;
}

.card {
    position: relative;
    transition: all 0.5s ease-in;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-inline: 1vw;
    cursor: pointer;
}

.cardImage {
    display: block;
    width: 12vw;
    height: 20vh;
    min-width: 200px;
    min-height: 150px;
}

.card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20vh;
    width: 100%;
    min-height: 150px;
    opacity: 0;
    visibility: none;
    transition: 0.5s ease;
    background-color: #393839;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
}
.card:hover .card__overlay {
    opacity: 0.8;
}
@media only screen and (max-width: 900px) {
    .card__overlay {
        opacity: 0.8;
    }
    #projectsSection h1 {
        width: 60vw;
    }
}
@media only screen and (max-width: 500px) {
    #projectsSection h1 {
        width: 90vw;
    }
}
@media only screen and (max-width: 290px) {
    #projectsSection h1 {
        width: 98vw;
    }
}
