#projectsSection h1 {
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
    color: #e2e2e2;
    font-size: 4em;
    background-color: #533a7b;
    width: 50%;
    margin: 10vh auto auto;
    min-width: 200px;
    display: block;
    overflow: hidden;
}

.catBalloon {
    width: 450px;
    height: auto;
}

.projects {
    display: block;
    right: 10vw;
}

@media only screen and (max-width: 900px) {
    .card__overlay {
        opacity: 0.8;
    }
    #projectsSection h1 {
        width: 60vw;
    }
}
@media only screen and (max-width: 500px) {
    #projectsSection h1 {
        width: 90vw;
    }
}
@media only screen and (max-width: 290px) {
    #projectsSection h1 {
        width: 98vw;
    }
}
